* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    background-color: lightblue;
}

.header {
    background-color: lightblue;
    color: black;
    padding: 20px;
    font-family: 'Apple Chancery', 'cursive';

}

.header h1 {
  font-size: 40px;
  display: inline-block;
    
}

.header div {
  font-family: 'Apple Chancery', 'cursive';
  font-size: 25px;
    padding-top: 15px;
    margin-right: 15px;
    float: right;
}


.header div ul li {
    display: inline-block;
    margin-left: 15px;
    text-align: left;
}

.border {
  border: 4px solid black;
  margin-top: 10px;
}

.card{
    justify-content: space-between;
    margin: 15px 45px;  
    align-items: center;
    width: 75%;
    padding-bottom: 50px;
    display: flex;
    flex-wrap: wrap;
  }
  

.title {
    color: red;
    font-family:'Apple Chancery', 'cursive';
    font-size: 30px;
    justify-content: center;
    display: flex;
    margin-top: 30px;
  }
  
.start{
    flex-wrap: wrap;
    align-items: center;
    flex :3 22%;
  }
  
.main-text {
    flex: 20;
  }

  .li-text {
    display:inline;
    margin-right: 100px;
    text-align: left;
  }
  
.main-text p {
    width: 50%;
    font-size: 15px;
    margin-left: 30px;
    padding-top: 30px;
    text-align: left;
}
  .Horiseon {
    position: relative;
    height: 200px;
    width: 30%;
    transition: opacity .5s;
  }

  .Horiseon:hover {
    opacity: .5;
  }


  #work-text {
    /* margin-left: 65px; */
  }

  #contact-title {
    margin-top: 25px;
  }

  #coding-img {
    width: 100%;
  }

  .project {
    height: 200px;
    width: 150px;
    transition: opacity .5s;
    display: inline-block;
  }